In [4]:
import numpy as np
import pandas as pd
import random
from collections import Counter
from sklearn.model_selection import train_test_split

In [5]:
def _generate_dummy_dataset():
    #to generate categorical dummy dataset
    df=pd.DataFrame()
    feature_1=["a","b","c"]
    feature_2=["d","e"]
    feature_3=["x","z"]
    target=["t1","t2","t3"]
    num_of_rows=200
    for i in range(num_of_rows):
        df.loc[i,"feature_1"]=random.choice(feature_1)
        df.loc[i,"feature_2"]=random.choice(feature_2)
        df.loc[i,"feature_3"]=random.choice(feature_3)
        df.loc[i,"target"]=random.choice(target)
    
    return df

In [46]:
#custom fit for Naive Bayes
#X_train, Y_train are of the form np.array()
def fit(X_train,Y_train):
    result_d={}
    result_d=Counter(Y_train)
    result_d['total_data']=len(Y_train)
    num_features=X_train.shape[1]
    for class_val in result_d:
        if(class_val=='total_data'):
            continue
        current_X_train=X_train[Y_train==class_val]
        result_d[class_val]={}
        for i in range(1,num_features+1):
            result_d[class_val][i]=Counter(current_X_train[:,i-1])    
    return result_d

In [8]:
df_=_generate_dummy_dataset()

In [10]:
df_

    feature_1 feature_2 feature_3 target
0           a         d         x     t1
1           a         d         x     t3
2           b         d         z     t3
3           c         d         z     t3
4           b         e         x     t3
..        ...       ...       ...    ...
195         b         e         x     t1
196         a         e         z     t3
197         b         e         z     t3
198         a         e         z     t3
199         c         d         z     t3

[200 rows x 4 columns]

In [35]:
X=df_.iloc[:,:-1]
Y=df_.iloc[:,-1]
from sklearn import model_selection
X_train_, X_test_, Y_train_, Y_test_=model_selection.train_test_split(X, Y, test_size=0.20, random_state=3)

In [36]:
X_train=X_train_.values
Y_train=Y_train_.values

In [39]:
result_d={}
result_d=Counter(Y_train)
result_d['total_data']=len(Y_train)
num_features=X_train.shape[1]
for class_val in result_d:
    if(class_val=='total_data'):
        continue
    current_X_train=X_train[Y_train==class_val]
    result_d[class_val]={}
    for i in range(1,num_features+1):
        result_d[class_val][i]=Counter(current_X_train[:,i-1])

In [40]:
result_d

Counter({'t1': {1: Counter({'a': 22, 'c': 22, 'b': 22}),
          2: Counter({'d': 27, 'e': 39}),
          3: Counter({'z': 32, 'x': 34})},
         't3': {1: Counter({'a': 20, 'c': 16, 'b': 18}),
          2: Counter({'d': 32, 'e': 22}),
          3: Counter({'z': 33, 'x': 21})},
         't2': {1: Counter({'b': 20, 'a': 14, 'c': 6}),
          2: Counter({'d': 24, 'e': 16}),
          3: Counter({'x': 24, 'z': 16})},
         'total_data': 160})

In [47]:
result_d_=fit(X_train, Y_train)

In [48]:
result_d_

Counter({'t1': {1: Counter({'a': 22, 'c': 22, 'b': 22}),
          2: Counter({'d': 27, 'e': 39}),
          3: Counter({'z': 32, 'x': 34})},
         't3': {1: Counter({'a': 20, 'c': 16, 'b': 18}),
          2: Counter({'d': 32, 'e': 22}),
          3: Counter({'z': 33, 'x': 21})},
         't2': {1: Counter({'b': 20, 'a': 14, 'c': 6}),
          2: Counter({'d': 24, 'e': 16}),
          3: Counter({'x': 24, 'z': 16})},
         'total_data': 160})